HostKey /etc/ssh/ssh_host_ed25519_key


StrictModes yes
PubkeyAuthentication yes

AllowUsers {{ main_user }}
PasswordAuthentication no
PermitRootLogin no

X11Forwarding yes
PrintMotd no
AcceptEnv LANG LC_*

IgnoreRhosts yes
ClientAliveInterval 3600
ClientAliveCountMax 12
TCPKeepAlive no
Protocol 2